/* FSLucasPro-400 */
@font-face {
    font-family: 'FSLucasPro';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/FSLucasPro-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/FSLucasPro-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* FSLucasPro-500 */
@font-face {
    font-family: 'FSLucasPro';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/FSLucasPro-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/FSLucasPro-Bold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* FSLucasPro-600 */
@font-face {
    font-family: 'FSLucasPro';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/cabin-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/cabin-v18-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* FSLucasPro-700 */
@font-face {
    font-family: 'FSLucasPro';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/cabin-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/cabin-v18-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}